.item {
  display: flex;
  list-style: none;
  width: 100%;
  min-height: 2.5rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.item:hover {
  transition: 0.9s ease-out;
  background-color: #f3f4f6f0;
}

.type {
  width: 2rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  flex: 1;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
}

.comment {
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  display: none;
  flex: 1;
}

.added {
  justify-content: center;
  align-items: center;
  display: none;
  width: 5rem;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.5rem;
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.5rem;
}

.deleteButton {
  padding: 0;
  background-color: transparent;
  color: red;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.deleteButton:hover {
  background-color: red;
  color: white;
}

.moreButton {
  width: 4rem;
}

@media (min-width: 600px) {
  .title {
    flex: none;
    width: 25%;
  }
  .added,
  .comment {
    display: flex;
  }
  .more {
    display: none;
  }
}
