.listBox {
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 12px;
  margin-bottom: 2rem;
}
.listHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 100%;
  color: #f3f4f6;
  font-weight: 200;
}
.title {
  min-width: 10rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.rating {
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.date {
  min-width: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

@media screen and (max-width: 680px) {
  .listHeader {
    display: none;
  }
  .listBox {
    width: 90%;
  }
}
