.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 20rem;
}
.select {
  justify-content: center;
  display: flex;
  width: 100%;
  gap: 2rem;
}

.formContent {
  position: relative;
  gap: 1rem;
  background-color: #e5e7eb;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add {
  border-style: none;
  border-radius: 1rem;
  width: 8rem;
  height: 2rem;
  margin: 0 auto;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 1.25rem;
  width: 1.25rem;
  background-color: transparent;
  color: #1f2937;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1rem;
}

.closeButton:hover {
  background-color: red;
  color: #e5e7eb;
}
