.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111827;
  width: 100%;
  height: 5rem;
  gap: 0.5rem;
  margin: 1rem 0 1rem;
}

.textBox {
  border-style: none;
  height: 2.5rem;
  width: 20rem;
  padding: 0 8px;
  border-radius: 8px;
  border: 2px solid #4b5563;
  background-color: #111827;
  color: #f3f4f6;
}

.textBox::placeholder {
  color: #f3f4f6;
}

.submitBtn {
  border-style: none;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: #111827;
  color: #e5e7eb;
}

.resultTrue {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  width: 80%;
  border: 2px solid #4b5563;
  background-color: #1f2937;
  color: #e5e7eb;
}

.title {
  padding: 0 0 8px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  width: 100%;
  font-size: 1rem;
}
.top {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #4b5563;
}
.comment {
  padding-top: 8px;
  justify-content: left;
  font-weight: 200;
  display: flex;
  width: 80%;
}
.date {
  display: flex;
  justify-content: flex-end;
  font-weight: 200;
  font-size: 12px;
}

@media screen and (max-width: 680px) {
  .resultTrue {
    width: 90%;
    background-color: #1f2937;
  }
}
