.statusContainer {
  display: flex;
  background-color: aqua;
  height: 5rem;
  align-items: center;
  width: 100%;
}

.movie {
  display: flex;
}
.game {
  display: flex;
}
.book {
  display: flex;
}

.show {
  display: flex;
}
